@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #c7c4da;
    /* --primary-color: #291f2e; */
    --secondary-color:#3f224b;
    /* --color-blue:#d1c412; */
    --text-color-light: #748d92;
    
    --btn-color: #685cb9;
    /* --text-color-dar: */
    --text-color-very-light: #d3d9d4;
    /* --primary-color: #212A31;
    --secondary-color:#3e4852;
    --color-blue:#129bd1;
    --text-color-light: #748d92;
    --text-color-very-light: #d3d9d4; */
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}
a{
    text-decoration: none;
}

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color:var(--secondary-color);
  }
  .navcontent{
    margin: auto;
    padding: 17px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .navcontent ul li a:hover {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-top-color: var(--color-blue);
    border-bottom-color: var(--color-blue);
    color: var(--color-blue);
    padding: 5px;
  }
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    gap: 2rem;
    list-style-type: none;
    min-height: 25px;
    color: var(--text-color-very-light);
    font-weight: bolder;
    /* position: fixed;    */
    /* top: 0; */
}
nav ul li{
    
    padding: 5px;
}
nav ul li a {
    font-weight: 500;
    color: var(--text-color); 
    letter-spacing: 1px;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }

  #check:checked ~ .menu {
    display: flex; /* Show the menu when the checkbox is checked */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Position the menu absolutely */
    background-color:var(--secondary-color); 
    top: 50px; 
    left: 50px;
    width: 100%; 
    height: 100vh;;
    padding: 10px 0; 
    z-index: 100;
}


  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px;
    height: calc(80vh-25px); 
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.content {
    width: 60%;
    margin: 23px;
    text-align: left;
}

.hero_content h1 {
    font-size: 44px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.hero_content p {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}
.hero_content .hero-img >img {
    width: 400px;
    position: relative;
    top: 20px;
    left: 7px; 
}
.hero_btn button {
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    background-color: var(--secondary-color);
    color: var(--text-color-very-light);
    transition: background-color 0.3s ease;
}
.hero_btn button:hover {
    background-color: #27161E;
    color: var(--text-color-light);
}


@media (max-width: 760px) {

        .navcontent .checkbox {
            display: block; 
            z-index: 100;
        }
        
        .navcontent .checkbox i {
            color: var(--text-color-dark); 
            display: block; 
            cursor: pointer;           
        }

    
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh-85px);
        left: -100%;
        top: 85px;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        background-color: var(--secondary-color);
    }
    nav #check:checked ~ ul {
        left: 10px;;
        
    }
    ul li a {
        font-size: 1.2rem;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 23px;
        height: max(fit-content,70vh); 
        background-color:var(--primary-color);
        align-items: center;
        text-align: center;
        width: 100vw;
        box-sizing: border-box;
    }
    
    .hero_content {
        flex-direction: column;
        align-items  : center; 
        text-align: center; 
        
    }
    .content{
        
        justify-items: center;
    }
    .hero_content .hero-img >img {
        width: 300px;
        position: relative;
        top: 20px;
        left: 7px; 
    }
    
}




#skills {
    text-align: center;
    padding: 50px;
    color: var(--text-color-very-light);
}

.skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #27161E;
}


.skill_card {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1000px;
}


.skill_card1, .skill_card2, .skill_card3, .skill_card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 250px;
    background-color:var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.skill_card1:hover, .skill_card2:hover, .skill_card3:hover, .skill_card4:hover {
    transform: scale(1.05); 
}

.skill_card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.skill_card p {
    font-size: 1em;
    color:var(--text-color-very-light);
}


@media (max-width: 768px) {
    .skill_card {
        flex-direction: column;
    }

    .skill_card1, .skill_card2, .skill_card3, .skill_card4 {
        width: 100%;
        height: auto; 
    }
}




.about {
    background-color: #f9f9f9; 
    padding: 40px 20px; 
    text-align: center; 
}
.about h1 {
    font-size: 2.5em; 
    margin-bottom: 20px; 
    color: #333; 
}
.about p {
    font-size: 18px; 
    margin-bottom: 20px; 
    color: #555;
    line-height: 1.6; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
}
.profiles {
    margin-top: 20px;
}
.profiles p {
    font-size: 20px; 
    margin-bottom: 10px; 
    color: #333; 
}
.profiles ul {
    list-style-type: none; 
    padding: 0;
}

.profiles li {
    display: inline-block; 
    margin: 0 15px;
}

.profiles a {
    text-decoration: none; 
    color: var(--secondary-color); 
    font-weight: bold;
    transition: color 0.3s; 
}
.profiles a:hover {
    color: #003366; 
}

.profiles img {
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    vertical-align: middle;
}


@media (max-width: 768px) {
    .about {
        padding: 20px 10px; 
    }

    .about h1 {
        font-size: 24px;
    }

    .about p {
        font-size: 16px; 
    }

    .profiles {
        flex-direction: column;
    }

    .profiles ul {
        padding: 0;
    }

    .profiles li {
        margin-bottom: 10px;
    }
    .profiles img {
        width: 30px; 
        height: 30px; 
        margin-bottom: 10px; 
}
}
.contact{
    text-align: center;
    padding: 40px 20px;
}
.contact h1{
    margin-bottom: 20px;
    font-size: 2.5em
}
.contact h3{
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;   
}
form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}
label {
    margin-bottom: 5px; 
    font-weight: bold; 
}
input[type="text"], input[type="email"], textarea {
    padding: 10px; 
    border: 1px solid var(--text-color-very-light); 
    border-radius: 5px; 
    margin-bottom: 15px; 
    font-size: 16px; 
    resize: none; 
}
input[type="submit"] {
    background-color:var(--secondary-color);
    color: var(--text-color-very-light); 
    border: none;
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}
input[type="submit"]:hover {
    background-color: #4a54d4; 
}